---
layout: stackpage
title: Angular
description: Everything around Angular
type: stack
permalink: "angular/"
feed: "feed"
---
{% include CheckForEmptyData.html data=site.data.Angular %}

<section>
    <h2><strong>//</strong> GitHub</h2>

	<div class="row">
	<div class="col-md-12">

            <div class="list-group">
                <a href="https://github.com/angular/angular" class="list-group-item active">
                    <h4 class="list-group-item-heading">angular/angular</h4>
                </a>
				{% for issueItem in site.data.Angular.Data.Angular-Issues.Issues limit: 30 %}
					{% include DisplayGitHubIssueItem.html issueItem=issueItem %}
				{% endfor %}
			</div>
        </div>
	</div>
	
    <div class="row">

        <div class="col-md-6">

            <div class="list-group">
                <a href="https://github.com/angular/angular-cli" class="list-group-item active">
                    <h4 class="list-group-item-heading">angular/angular-cli</h4>
                </a>
				{% for issueItem in site.data.Angular.Data.AngularCli-Issues.Issues limit: 30 %}
					{% include DisplayGitHubIssueItem.html issueItem=issueItem %}
				{% endfor %}
				
			</div>
        </div>
        
        <div class="col-md-6">

            <div class="list-group">
                <a href="https://github.com/material2-Issues" class="list-group-item active">
                    <h4 class="list-group-item-heading">material2</h4>
                </a>
				{% for issueItem in site.data.Angular.Data.material2-Issues.Issues limit: 30 %}
					{% include DisplayGitHubIssueItem.html issueItem=issueItem %}
				{% endfor %}
				
			</div>
        </div>
    </div>
</section>
