---
layout: stackpage
title: Blazor
description: News around Microsofts Blazor project
type: stack
permalink: "blazor/"
feed: "feed"
---
{% include CheckForEmptyData.html data=site.data.AspNetBlazor %}

<section>
    <h2><strong>//</strong> GitHub</h2>

	<div class="row">
		<div class="col-md-12">

            <div class="list-group">
                <a href="https://github.com/aspnet/blazor" class="list-group-item active">
                    <h4 class="list-group-item-heading">aspnet/blazor</h4>
                </a>
				
				{% for issueItem in site.data.AspNetBlazor.Data.GitHubIssues.Issues limit: 30 %}
					{% include DisplayGitHubIssueItem.html issueItem=issueItem %}
				{% endfor %}
			</div>
        </div>
	</div>
	
</section>









