---
layout: stackpage
title: Angular
description: Everything around Bulma
type: stack
permalink: "angular/"
feed: "feed"
---
{% include CheckForEmptyData.html data=site.data.Bulma %}

<section>
    <h2><strong>//</strong> GitHub</h2>

	<div class="row">
	<div class="col-md-12">

            <div class="list-group">
                <a href="https://github.com/jgthms/bulma" class="list-group-item active">
                    <h4 class="list-group-item-heading">gthms/bulmar</h4>
                </a>
				{% for issueItem in site.data.Bulma.Data.Bulma-Issues.Issues limit: 30 %}
					{% include DisplayGitHubIssueItem.html issueItem=issueItem %}
				{% endfor %}
			</div>
        </div>
	</div>
	
</section>
