---
layout: stackpage
title: NuGet
description: Everything around the .NET package manager NuGet
type: stack
permalink: "nuget/"
---
{% include CheckForEmptyData.html data=site.data.NuGet %}

<section>
    <h2><strong>//</strong> NuGet Blog &amp; Tweets</h2>

    <div class="row">

        <div class="col-md-12">

            <div class="list-group">
                <a href="https://blog.nuget.org" class="list-group-item active">
                    <h4 class="list-group-item-heading">NuGet Blog</h4>
                </a>
				
				{% for feedItem in site.data.NuGet.Data.Blog.FeedItems limit: 5 %}
					{% include DisplayFeedItem.html feedItem=feedItem %}
				{% endfor %}
            </div>
        </div>
		
		
    </div>
	
	<div class="row"> 
        <div class="col-md-12">
            <div class="list-group">
                <a href="https://twitter.com/nuget" class="list-group-item active">
                    <h4 class="list-group-item-heading">@NuGet on Twitter</h4>
                </a>
				
				{% for tweetItem in site.data.NuGet.Data.Twitter.Tweets limit: 10 %}
					{% include DisplayTweetItem.html tweetItem=tweetItem %}
				{% endfor %}
            </div>
        </div>
	</div>
	
</section>

<section>
    <h2><strong>//</strong> GitHub</h2>

	<div class="row">
	<div class="col-md-12">

            <div class="list-group">
                <a href="https://github.com/NuGet/Announcements" class="list-group-item active">
                    <h4 class="list-group-item-heading">NuGet/Announcements</h4>
                </a>
				
				{% for eventItem in site.data.NuGet.Data.Announcements.Events limit: 10 %}
					{% include DisplayGitHubEventItem.html eventItem=eventItem %}
				{% endfor %}
			</div>
        </div>
	</div>
	
    <div class="row">

        <div class="col-md-6">

            <div class="list-group">
                <a href="https://github.com/NuGet/Home" class="list-group-item active">
                    <h4 class="list-group-item-heading">NuGet/Home</h4>
                </a>
				
				{% for eventItem in site.data.NuGet.Data.Home.Events %}
					{% include DisplayGitHubEventItem.html eventItem=eventItem %}
				{% endfor %}
			</div>
        </div>
        
        <div class="col-md-6">

            <div class="list-group">
                <a href="https://github.com/NuGet/NuGetGallery" class="list-group-item active">
                    <h4 class="list-group-item-heading">NuGet/NuGetGallery</h4>
                </a>
				
				{% for eventItem in site.data.NuGet.Data.Gallery.Events %}
					{% include DisplayGitHubEventItem.html eventItem=eventItem %}
				{% endfor %}
			</div>
        </div>
    </div>
</section>










