---
layout: stackpage
title: OpenXML
description: Open XML related stuff from Microsoft
type: stack
permalink: "openxml/"
---
{% include CheckForEmptyData.html data=site.data.OpenXml %}

<section>
    <h2><strong>//</strong> GitHub</h2>

	<div class="row">
		<div class="col-md-12">

            <div class="list-group">
                <a href="https://github.com/OfficeDev/Open-XML-SDK" class="list-group-item active">
                    <h4 class="list-group-item-heading">OfficeDev/Open-XML-SDK</h4>
                </a>
				
				{% for eventItem in site.data.OpenXml.Data.Sdk.Events limit: 10 %}
					{% include DisplayGitHubEventItem.html eventItem=eventItem %}
				{% endfor %}
			</div>
        </div>
	</div>
	
	<div class="row">
		<div class="col-md-12">

            <div class="list-group">
                <a href="https://github.com/OfficeDev/Open-Xml-PowerTools" class="list-group-item active">
                    <h4 class="list-group-item-heading">OfficeDev/Open-Xml-PowerTools</h4>
                </a>
				
				{% for eventItem in site.data.OpenXml.Data.PowerTools.Events limit: 10 %}
					{% include DisplayGitHubEventItem.html eventItem=eventItem %}
				{% endfor %}
			</div>
        </div>
	</div>
	
</section>










