---
layout: stackpage
title: Vue.js
description: Everything around the Progressive JavaScript Framework
type: stack
permalink: "vuejs/"
feed: "feed"
---
{% include CheckForEmptyData.html data=site.data.VueJs %}

<section>
    <h2><strong>//</strong> GitHub</h2>

	<div class="row">
	<div class="col-md-12">

            <div class="list-group">
                <a href="https://github.com/vuejs/vue" class="list-group-item active">
                    <h4 class="list-group-item-heading">vuejs/vue</h4>
                </a>
				{% for issueItem in site.data.VueJs.Data.Vue-Issues.Issues limit: 30 %}
					{% include DisplayGitHubIssueItem.html issueItem=issueItem %}
				{% endfor %}
			</div>
        </div>
	</div>
	
    <div class="row">

        <div class="col-md-6">

            <div class="list-group">
                <a href="https://github.com/vuejs/vue-router" class="list-group-item active">
                    <h4 class="list-group-item-heading">vuejs/vue-router</h4>
                </a>
				{% for issueItem in site.data.VueJs.Data.Router-Issues.Issues limit: 30 %}
					{% include DisplayGitHubIssueItem.html issueItem=issueItem %}
				{% endfor %}
				
			</div>
        </div>
        
        <div class="col-md-6">

            <div class="list-group">
                <a href="https://github.com/vuejs/vuex" class="list-group-item active">
                    <h4 class="list-group-item-heading">vuejs/vuex</h4>
                </a>
				{% for issueItem in site.data.VueJs.Data.Vuex-Issues.Issues limit: 30 %}
					{% include DisplayGitHubIssueItem.html issueItem=issueItem %}
				{% endfor %}
				
			</div>
        </div>
    </div>
</section>










