---
layout: stackpage
title: WPF
description: News around Microsofts WPF
type: stack
permalink: "wpf/"
feed: "feed"
---
{% include CheckForEmptyData.html data=site.data.WPF %}

<section>
    <h2><strong>//</strong> GitHub</h2>

	<div class="row">
		<div class="col-md-12">

            <div class="list-group">
                <a href="https://github.com/dotnet/wpf" class="list-group-item active">
                    <h4 class="list-group-item-heading">dotnet/wpf</h4>
                </a>
				
				{% for issueItem in site.data.WPF.Data.GitHub.Issues limit: 30 %}
					{% include DisplayGitHubIssueItem.html issueItem=issueItem %}
				{% endfor %}
			</div>
        </div>
	</div>
	
</section>
