---
layout: stackpage
title: Xamarin
description: Everything around the Xamarin platform
type: stack
permalink: "xamarin/"
---
{% include CheckForEmptyData.html data=site.data.DotNetCore %}

<section>
    <h2><strong>//</strong> Xamarin Blog &amp; Tweets</h2>

    <div class="row">

        <div class="col-md-12">

            <div class="list-group">
                <a href="https://blog.xamarin.com/" class="list-group-item active">
                    <h4 class="list-group-item-heading">Xamarin Blog</h4>
                </a>
				
				{% for feedItem in site.data.Xamarin.Data.Blog.FeedItems limit: 5 %}
					{% include DisplayFeedItem.html feedItem=feedItem %}
				{% endfor %}
            </div>
        </div>
		
		
    </div>
	
	<div class="row"> 
        <div class="col-md-12">
            <div class="list-group">
                <a href="https://twitter.com/xamarinhq" class="list-group-item active">
                    <h4 class="list-group-item-heading">@xamarinhq on Twitter</h4>
                </a>
				
				{% for tweetItem in site.data.Xamarin.Data.Twitter.Tweets limit: 10 %}
					{% include DisplayTweetItem.html tweetItem=tweetItem %}
				{% endfor %}
            </div>
        </div>
	</div>
	
</section>

<section>
    <h2><strong>//</strong> GitHub</h2>

	<div class="row">
	<div class="col-md-12">

            <div class="list-group">
                <a href="https://github.com/xamarin/Xamarin.Forms" class="list-group-item active">
                    <h4 class="list-group-item-heading">xamarin/Xamarin.Forms</h4>
                </a>
				
				{% for eventItem in site.data.Xamarin.Data.Forms.Events limit: 10 %}
					{% include DisplayGitHubEventItem.html eventItem=eventItem %}
				{% endfor %}
			</div>
        </div>
	</div>
	
    <div class="row">

        <div class="col-md-6">

            <div class="list-group">
                <a href="https://github.com/xamarin/xamarin-macios" class="list-group-item active">
                    <h4 class="list-group-item-heading">xamarin/xamarin-macios</h4>
                </a>
				
				{% for eventItem in site.data.Xamarin.Data.Macios.Events %}
					{% include DisplayGitHubEventItem.html eventItem=eventItem %}
				{% endfor %}
			</div>
        </div>
        
        <div class="col-md-6">

            <div class="list-group">
                <a href="https://github.com/xamarin/xamarin-android" class="list-group-item active">
                    <h4 class="list-group-item-heading">xamarin/xamarin-android</h4>
                </a>
				
				{% for eventItem in site.data.Xamarin.Data.Android.Events %}
					{% include DisplayGitHubEventItem.html eventItem=eventItem %}
				{% endfor %}
			</div>
        </div>
    </div>
</section>










