<a href="{{ include.eventItem.RelatedUrl }}" class="list-group-item">
    <h4 class="list-group-item-heading">{{ include.eventItem.RelatedDescription | strip_html }}</h4>
	
	{% assign icon = '' %}
	{% assign color = '#959da5' %}
	{% assign text = '' %}

	{% if include.eventItem.Type == "PushEvent" %}
		{% assign icon = 'fa-cloud-upload' %}
	{% endif %}
	{% if include.eventItem.Type == "PullRequestEvent" %}
		{% assign icon = 'fa-code-fork' %}
		{% if include.eventItem.RelatedAction == "opened" %}
			{% assign color = '#6cc644' %}
			{% assign text = 'Open' %}
		{% elsif include.eventItem.RelatedAction == "closed" %}
			{% assign color = '#cb2431' %}
			{% assign text = 'Closed' %}
		{% elsif include.eventItem.RelatedAction == "merged" %}
			{% assign color = '#6f42c1' %}
			{% assign text = 'Merged' %}
		{% else %}
			{% assign color = '#959da5' %}
		{% endif %}
	{% endif %}
	{% if include.eventItem.Type == "WatchEvent" %}
		{% assign icon = 'fa-eye' %}
	{% endif %}
	{% if include.eventItem.Type == "IssuesEvent" %}
		{% assign icon = 'fa-sticky-note-o' %}
		{% if include.eventItem.RelatedAction == "opened" %}
			{% assign color = '#6cc644' %}
			{% assign text = 'Open' %}
	        {% elsif include.eventItem.RelatedAction == "reopened" %}
			{% assign color = '#6cc644' %}
			{% assign text = 'Open' %}
		{% else %}
			{% assign color = '#cb2431' %}
			{% assign text = 'Closed' %}
		{% endif %}
	{% endif %}
	{% if include.eventItem.Type == "IssueCommentEvent" %}
		{% assign icon = 'fa-commenting' %}
	{% endif %}
	{% if include.eventItem.Type == "PullRequestReviewCommentEvent" %}
		{% assign icon = 'fa-commenting' %}
	{% endif %}
	{% if include.eventItem.Type == "CommitCommentEvent" %}
		{% assign icon = 'fa-commenting' %}
	{% endif %}
	{% if include.eventItem.Type == "CreateEvent" %}
		{% assign icon = 'fa-plus' %}
		{% assign color = '#6cc644' %}
	{% endif %}
	{% if include.eventItem.Type == "DeleteEvent" %}
		{% assign icon = 'fa-minus' %}
		{% assign color = '#cb2431' %}
	{% endif %}
	{% if include.eventItem.Type == "ForkEvent" %}
		{% assign icon = 'fa-code-fork' %}
	{% endif %}
	
	<span class="label pull-right" style="background-color: {{color}}; color: white;"><i class="fa {{icon}}" aria-hidden="true"></i> {{text}}</span>	
					
    <p class="list-group-item-text">
		{% include DisplayHotIcon.html date=include.eventItem.CreatedAt %}
	
        on {{ include.eventItem.CreatedAt | date_to_long_string }} by {{ include.eventItem.Actor }}
    </p>
</a>
