<a href="{{ include.issueItem.Url }}" class="list-group-item">
    <h4 class="list-group-item-heading">{{ include.issueItem.Title | strip_html }}</h4>
	
	{% assign icon = '' %}
	{% assign color = '#959da5' %}
	{% assign text = '' %}
	
	{% if include.issueItem.IsPullRequest == true %}
	        {% assign icon = 'fa-code-fork' %}
                {% if include.issueItem.State == "open" %}
			{% assign color = '#6cc644' %}
			{% assign text = 'Open' %}
		{% elsif include.issueItem.State == "closed" %}
			{% assign color = '#6f42c1' %}
			{% assign text = 'Merged or Closed' %}
		{% endif %}
	{% else %}    
		{% assign icon = 'fa-sticky-note-o' %}
                {% if include.issueItem.State == "open" %}
			{% assign color = '#6cc644' %}
			{% assign text = 'Open' %}
		{% elsif include.issueItem.State == "closed" %}
			{% assign color = '#cb2431' %}
			{% assign text = 'Closed' %}
		{% endif %}
	{% endif %}
	
	<span class="label pull-right" style="background-color: {{color}}; color: white;"><i class="fa {{icon}}" aria-hidden="true"></i> {{text}}</span>	
					
    <p class="list-group-item-text">
		{% include DisplayHotIcon.html date=include.issueItem.CreatedAt %}
	        {{ include.issueItem.RelatedDescription | strip_html }}
        <br/>
        on {{ include.issueItem.CreatedAt | date_to_long_string }} by {{ include.issueItem.Actor }}
    </p>
</a>
