				<a href="{{ include.eventItem.RelatedUrl }}" class="list-group-item">
                        		<h4 class="list-group-item-heading">
					{% if include.eventItem.Type == "PushEvent" %}
						<i class="fa fa-cloud-upload" aria-hidden="true"></i>
					{% endif %}
					{% if include.eventItem.Type == "PullRequestEvent" %}
						<i class="fa fa-code-fork" aria-hidden="true"></i>
					{% endif %}
					{% if include.eventItem.Type == "WatchEvent" %}
						<i class="fa fa-eye" aria-hidden="true"></i>
					{% endif %}
					{% if include.eventItem.Type == "IssuesEvent" %}
						<i class="fa fa-sticky-note-o" aria-hidden="true"></i>
					{% endif %}
					{% if include.eventItem.Type == "IssueCommentEvent" %}
						<i class="fa fa-commenting" aria-hidden="true"></i>
					{% endif %}
					{% if include.eventItem.Type == "PullRequestReviewCommentEvent" %}
						<i class="fa fa-commenting" aria-hidden="true"></i>
					{% endif %}
					{% if include.eventItem.Type == "CreateEvent" %}
						<i class="fa fa-plus" aria-hidden="true"></i>
					{% endif %}
					{% if include.eventItem.Type == "DeleteEvent" %}
						<i class="fa fa-minus" aria-hidden="true"></i>
					{% endif %}
					{% if include.eventItem.Type == "ForkEvent" %}
						<i class="fa fa-code-fork" aria-hidden="true"></i>
					{% endif %}
					
					{{ include.eventItem.RelatedDescription }}
					
					</h4>
                        		<p class="list-group-item-text">
                            			on {{ include.eventItem.CreatedAt | date_to_long_string }} by {{ include.eventItem.Actor }}
                        		</p>
                    		</a>