{% capture dateDiffInDays %}{% include DateCheck.html date=include.issueItem.CreatedAt %}{% endcapture %}

{% if dateDiffInDays contains "true" %}
    <p>
        
	{% assign icon = '' %}
	
	{% if include.issueItem.IsPullRequest == true %}
        	{% if include.issueItem.State == "open" %}
			{% assign icon = '📗' %}
        	{% elsif include.issueItem.State == "closed" %}
			{% assign icon = '📑' %}
	    	{% endif %}
	{% else %}    
        	{% if include.issueItem.State == "open" %}
		    {% assign icon = '📗' %}
		{% elsif include.issueItem.State == "closed" %}
			{% assign icon = '📕' %}
		{% endif %}
	{% endif %}
        <span>{{icon}}</span>
        <a href="{{ include.issueItem.Url }}">{{ include.issueItem.RelatedDescription | strip_html }}</a> <small>on {{ include.issueItem.CreatedAt | date_to_long_string }} by {{ include.issueItem.Actor }}</small>
    </p>
{% endif %}
