--- 
layout: default
---
<div class="page-header">
    
    {% if page.feed %}
    <div class='btn-toolbar pull-right'>
        <div class='btn-group'>
            <a href="{{page.feed}}" type="application/rss+xml" class="btn btn-white btn-default">
                <i class="fa fa-rss" aria-hidden="true"></i> Daily Summary
            </a>
         </div>
    </div>
    {% endif %}
    <h1>{{ page.title }} </h1>
    <small>{{ page.description}}</small>
</div>

<div class="row">
    <div class="col-xs-12">

        {{ content }}

        <a style="font-size: 16pt" title="Edit on GitHub" href="{{ site.github_repo_url }}edit/master/{{ page.path }}"><i class="fa fa-github-square"></i></a>
    </div>
</div>
